---
import Section from "@/components/Section.astro"
import bio from "@/content/data/bio.json"

interface Props {
  lang: "en" | "es"
  title: string
}

const { lang, title } = Astro.props
---

<Section title={title}>
  <div class="container">
    <p>
      {bio[lang].intro.text1}<b>{bio[lang].intro.bold}</b>
      {bio[lang].intro.text2}
    </p>
    <p>
      {bio[lang].about.text1}
      <a href={bio[lang].about.href1.link} target="_blank"
        >{bio[lang].about.href1.text}</a
      >{bio[lang].about.text2}
      <a href={bio[lang].about.href2.link} target="_blank"
        >{bio[lang].about.href2.text}</a
      >{bio[lang].about.text3}
    </p>
    <p>
      {bio[lang].extra.text1}<a
        href={bio[lang].extra.href1.link}
        target="_blank">{bio[lang].extra.href1.text}</a
      >{bio[lang].extra.text2}
    </p>
  </div>
</Section>

<style>
  .container {
    margin-bottom: 30px;
  }
  a {
    text-decoration: underline;
    text-decoration-color: #00adb5;
    text-decoration-thickness: 2px;
  }
  p {
    font-size: 0.925rem;
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 500px) {
    p {
      font-size: 0.8rem;
    }
  }

  @media print {
    p {
      font-size: 0.8rem;
    }
  }
</style>
